<!DOCTYPE html   >
<html lang="ru">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="../../assets/styles/vendor/bootstrap-v4.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../assets/styles/vendor/flexslider.css" type="text/css"/>
    <link rel="stylesheet" href="../../assets/styles/vendor/owl.carousel.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../assets/styles/vendor/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../assets/styles/vendor/jquery-ui.css" type="text/css"/>
    <link rel="stylesheet" href="../../assets/styles/vendor/bootstrap-datetimepicker.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../assets/styles/vendor/bootstrap-select.min.css" type="text/css"/>
    <link rel="stylesheet" href="../../assets/styles/local/main.css" type="text/css"/>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
    <script src="../../assets/js/vendor/tether.min.js"> </script>
    <script src="../../assets/js/vendor/moment.js"> </script>
    <script src="../../assets/js/vendor/moment-with-locales.js"> </script>
    <script src="../../assets/js/vendor/bootstrap-v4.min.js"> </script>
    <script src="../../assets/js/vendor/bootstrap-select.min.js"> </script>
    <script src="../../assets/js/vendor/defaults-ua_UA.min.js"> </script>
    <script src="../../assets/js/vendor/jquery.flexslider.min.js"> </script>
    <script src="../../assets/js/vendor/owl.carousel.min.js"> </script>
    <script src="../../assets/js/vendor/owl.thumb.js"> </script>
    <script src="../../assets/js/vendor/jquery-ui.js"> </script>
    <script src="../../assets/js/vendor/bootstrap-datetimepicker.min.js"></script>
    <script src="../../assets/js/local/main.js">//min </script>
    <title>Index   </title>
  </head>
  <body>
    <div class="header"></div>
  </body>
</html>
<div class="footer"></div>